@model CerezoJose_Progreso1.Models.JoseCerezo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JoseCerezo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadHermanos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadHermanos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaldoBancario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaldoBancario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsHombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsHombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono.Modelo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
